 * {
    padding: 0;
    margin: 0;

 }

body {
    background-color: black  ;
   
    
    
}
p{
    color: goldenrod;
    margin: 50px;
}

h1{
    color:rgb(0, 195, 255);
 position: absolute;
animation:liner 3s infinite alternate  ;

margin-top: 5px;
margin-left: 10px;
}



    
@keyframes liner {
    from {
        text-shadow:  0 0 20px rgb(0, 195, 255);
        left: 0;
        top: 0;
        
    }
    to {
        
        text-shadow: 0 0 20px rgb(0, 195, 255);
        left: 1000px;
        top: 500px;
    }
 }






    
